table, td, tr{
    border: 10px solid transparent;
    border-color: #1f1f1f;
    border-collapse: collapse;
    border-radius: 23px;
}
table{
    text-align: left;
    width: 90%;
    color: black;
    height: 300px;
    
}
.pagelay{
    width: 90%;
    align-items: left;
    padding-left: 100px;
    padding-bottom: 50px;
    
}
td{
    padding-left: 10px;
}

tr:nth-child(odd){
    background-color: #90A955;
}
tr:nth-child(even){
    background-color: #ECF39E;
}

h2{
    float: right;
    /* padding-right: 200px; */
    color: #81e979;
}
.flex{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.flex2{
    display: flex;
    align-items: center;
    padding-right: 165px;
}
.icon{

    scale: 50%;
    
    
}

