/* CSS HSL 
--jet: hsla(60, 1%, 21%, 1);
--ebony: hsla(64, 10%, 32%, 1);
--inchworm: hsla(94, 99%, 73%, 1);
--light-green: hsla(116, 72%, 69%, 1);
--dark-sea-green: hsla(134, 24%, 65%, 1);
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  width: 100%;
  min-height: 100vh;
  background-color: #1f1f1f;
  color: #fff;
  font-weight: 600;
}

